<div class="program_container">
  <div class="program">

  <div> Robot program </div>

  <div class="step_container"></div>

  <div> <i>Click an action to add it to the program...</i> </div>

  </div>
</div>

<div class="actions_container">

  <div class="actions">

    <div style="color: white;">Robot actions</div>

    <div class="action_button" {{action pickup target="view"}}> Pick up bin </div>
    <div class="action_button" {{action dropoff target="view"}}> Drop off bin </div>
    <div class="action_button" {{action speak target="view"}}> Speak aloud </div>
    <div class="action_button" {{action wait target="view"}}> Wait </div>
    <div class="action_button" {{action recharge target="view"}}> Recharge </div>

  </div>
</div>
